@model Practice2021.FoundStranger
<div>
    <h3>Текущее местоположение:  @Html.DisplayFor(m => m.CurrentLocation)</h3>
    <p>ФИО заявителя: @Html.DisplayFor(m => m.FullAplicant)</p>
    <p>Номер телефона: @Html.DisplayFor(m => m.PhoneNumber)</p>
</div>
