@if (Model == true)
{
    <div>Запись добавлена!</div>
    <div>Для выхода со страницы перейдите по ссылке.</div>

}
else
{
    <div>Запись не добавлена!</div>
    <div>Для выхода со страницы перейдите по ссылке.</div>
}
<p>@Html.ActionLink("Перейти на главную страницу", "Index", "Home")</p>
<p>@Html.ActionLink("Вернуться к вводу данных о найденном человеке", "Create", "FoundStrangers")</p>

