@*@if (Model == true)
{*@
    <div>Запись добавлена!</div>
    <div>Для возвращения на панель перейдите по ссылке.</div>

@*}
else
{*@
    @*<div>Запись не добавлена!</div>
    <div>Для выхода со страницы перейдите по ссылке.</div>*@
@*}*@
<p>@Html.ActionLink("Вернуться к выбору пропавшего", "Index", "SearchCampaigns")</p>

