<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>

    <h3 class="my-main-heading">Учетная запись не найдена</h3>
    <h4 class="my-small-heading">Вход в учетную запись не выполнен, пожалуйста повторите попытку.</h4>
    <p style="margin-left:200px">@Html.ActionLink("Повторная попытка входа", "Auth", "Volunteer")</p>
    <p style="margin-left:200px">@Html.ActionLink("Зарегистрироваться", "Reg", "Volunteer")</p>

</body>
</html>
